<<<<<<< HEAD
header {
      background-color: #ff0000;
      height: 70px;
      width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> eda6cc55b642eb2fe39d595a9382a66f1132e154
}
